.footer {
    display: flex;
    flex-direction: row;
    background-color: black;

  }
  .footer1 {
    float: left;
    width: 50%;
    padding: 10px;
    display: flex;
    color: white;
    font-size: 20px;
    
  }
  .footer2 {
    float: right;
    width: 10%;
    margin-left: 32%;
   margin-top: 2rem;
  }

  .anchor {
    margin: 0.1rem;
    margin-top: 1rem;
  }