.albums {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
   
  }

  .images {
    height: 250px;
    width: 350px;
  }

  .addcart {
    border: 2px white;
    background-color: black;
    border-radius: 8px;
    height: 45px;
    width: 100px;
    color: white;
    cursor: pointer;
  }

  .prodlink{
    text-decoration: none;
    color: black;
  }

 